.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: #e1e388;
}

textarea {
  resize: none;
  font-size: 16px;
  background-color: rgb(180, 200, 50);
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 80px;
}

hr {
  border: 1px solid #aaa719;
  background-color: #d4d37f;
  width: 100%;
}

label {
  color: green;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

table {
  width: 80%;
  text-align: center;
}

#col1 {
  width: 30%;
  text-align: left;
  vertical-align: middle;
}
#col2 {
  width: 70%;
  text-align: inherit;
  vertical-align: middle;
}

#pSearch {
  width: 100%;
}



.tdate{
  margin-bottom: 5px;
  margin-top: 0px;
  color: rgb(4, 66, 186);
}

.pstate_gr{
  color: green;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.pstate_red{
  color: red;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.field {
  display: flex;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  color: #fff;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

.box {
  border: 2px solid #aaa719;
  background-color: #d4d37f;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.65em;
  color: #fff;
  outline: none;
}

.btn.success {
  background-color: #27b345;
  border: 2px solid #2a89a2;
  margin-top: 5px;
  margin-left: 30%;
  width: 40%;
}

.btn.save {
  background-color: #27b345;
  border: 2px solid #2a89a2;
}

.btn.new {
  background-color: #ec6a6a;
  border: 2px solid #ff1212;
  margin-bottom: 20px;
  margin-left: 30%;
  width: 40%;
}


.btn.light {
  background-color: #479fb6;
  border: 2px solid #2a89a2;
}

.btn.red {
  background-color: #dda66d;
  border: 2px solid #b6821a;
}

.btn.light:hover {
  background-color: #2a89a2;
  border-color: #1d6f85;
}

.btn.red:hover {
  background-color: #b6821a;
  border-color: #946912;
}

.btn.new:hover {
  background-color: #ec2b11;
  border-color: #c30d0d;
}

.btn.save:hover {
  background-color: #00cf2d;
  border: 2px solid #24a1c0;
}

.btn.success:hover {
  background-color: #00cf2d;
  border: 2px solid #24a1c0;
}

/*Стиль для поля рейтинга*/

*{
  box-sizing: border-box;
}
.rating {
  display: flex;
  background-color: #d4d37f;
}
.rating-item {
  width: 25px;
  height: 25px;
  background-color: green;
  border: 2px solid #aaa719;
  cursor: pointer;
}

.rating-item.active{
  background-color: yellow;
}

/*Стиль для переключателя chekbox (Измениить приоритет)*/

input[type="checkbox"] {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #5a5a5a;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition: 0.5s;
  position: relative;
}
input:checked[type="checkbox"] {
  background: #1f8301;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 20px;
}


/*
.l {
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	font-size: 5em;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}

*/
/* Checked */

/*
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}

*/


/* Other States */

/*
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo 
	outline: 0;
}
*/